<a href="/"><h1>Insert</h1></a>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    <br>
    <label for="tipo_habilidad">Tipo de habilidad</label>
    <input type="text" id="tipo_habilidad" name="tipo_habilidad" placeholder="tipo_habilidad">
    <br>
    <label for="preciot">Precio en tienda</label>
    <input type="text" id="preciot" name="preciot" placeholder="preciot">
    <br>
    <label for="region">Region</label>
    <input type="text" id="region" name="region" placeholder="region">
    <br>
    <label for="rol">Rol del campeon</label>
    <input type="text" id="rol" name="rol" placeholder="rol">
    <br>
    <label for="sexo">Sexo</label>
    <input type="text" id="sexo" name="sexo" placeholder="sexo">
    <br>
    <button type="submit" class="btn btn-primary">Insert</button>
</form>