$def with(datos)
<a href="/"><h1>Update</h1></a>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre">
    <br>
    <label for="tipo_habilidad">Tipo de habilidad</label>
    <input type="text" value="$datos.tipo_habilidad" id="tipo_habilidad" name="tipo_habilidad">
    <br>
    <label for="preciot">Precio en  tienda</label>
    <input type="text" value="$datos.preciot" id="preciot" name="preciot" placeholder="preciot">
    <br>
    <label for="region">Region</label>
    <input type="text" value="$datos.region" id="region" name="region" placeholder="region">
    <br>
    <label for="rol">Rol del campeon</label>
    <input type="text" value="$datos.rol" id="rol" name="rol" placeholder="rol">
    <br>
    <label for="sexo">Sexo</label>
    <input type="text" value="$datos.sexo" id="sexo" name="sexo" placeholder="sexo">
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
